@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  }

  body {
    font-family: 'Rubik', sans-serif;
    color: #fff;
    background-color: #fff;
  }

  html {
    scroll-behavior: smooth;
  }
}
